header {
    background-color: black; 
    border-bottom: 10px solid gray;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#headerId {
    font-size: 30px;
    color: white;
    text-shadow: 3px 3px 0 grey ;
    font-family: "Press Start 2P", sans-serif;
    line-height: 1.;
    transition: 300ms linear;

}   

#headerId:hover {
    color: red;
}

nav {
    text-align: right ;
}


a {
    display: inline-flex;
    align-items: center;
   color: white;
   text-decoration: none;
   font-size: 20px;
   font-family: "Fira Code", Arial, Helvetica, sans-serif;
   font-weight: 500;
   margin-right: 30px;
   transition: 300ms linear;

}

a::before {
    content: "";
    background-color: #E3FF3A;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    transition: 300ms linear;

}

a:hover {
    transform: scale(1.1);

}

a:hover::before {
    content: "";
    background-color: red;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    transform: scale(1.1);
}

#button {
    display: inline-block;
    background-color: #E3FF3A;
    padding: 18px 20px; 
    box-shadow: 5px 5px 0 grey ;
    margin-right: 0;
    transition: 200ms cubic-bezier(0.29, -0.59, 0.34, 2.38);
}

#button:hover {
    background-color: red; 
    transform: scale(1.1);
    cursor: crosshair;

}


