.box {
    display: inline-block;
    background-color: black;
    box-shadow: 10px 10px 0 grey;
    text-align: center;
    padding: 42px 44px; 
    margin-top: 40px;
}

.box .title {
    margin-bottom: 28px;
}