.level {
    height: 40px;
    width: 320px;
    border: 5px solid black;
    margin: 16px 0 4px;
}

.level::-webkit-progress-bar {
    background-color: white;
    
}
.level::-webkit-progress-value {
    background-color: purple;
    
}

.boxskills {
    display: flex;
    align-items: center;
    font-family: "press start 2p", sans-serif;
    color: black;
    font-size: 25px;
}

.imgskills {
    margin-right: 25px;
}

.right {
    display: inline-flex;
    flex-direction: column;
}