.main-header {
    background-color: black; 
    border-bottom: 10px solid gray;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header .navigation {
    text-align: right ;
}

#headerLogo {
    font-size: 30px;
    color: white;
    text-shadow: 3px 3px 0 grey ;
    font-family: "Press Start 2P", sans-serif;
    line-height: 1.;
    transition: 300ms linear;

}   

#headerLogo:hover {
    color: red;
}

