.main-section {
    height: 640px;
    background-color: yellow;
    border-bottom: 10px solid black;
    padding: 70px 0 100px;
    width: 100%;
}

.main-section.-bggrey {
    background-color: grey;
}

.main-section.-bdFirst {
    border-color: yellow;
}

.main-section.-bgRed {
    background-color: red;
}

.main-section.-bdBlack {
    border-color: black;
}