.section {
    height: 740px;
    background-color: yellow;
    border-bottom: 10px solid black;
    padding: 50px 240px 100px;
}

.line {
    justify-content: space-around;
    display: flex;
    margin-bottom: 60px;
    margin-top: 60px;
}