.title{
    font-family: "press start 2p", sans-serif;
    font-size: 40px;
    color: yellow;
    text-shadow: 3px 3px 0 grey ;
}

.title.-second {
    color: black;
    text-shadow: none;
    text-align: center;
}
